.SystemMessage{
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  h1{
    background-color:white;
    border-radius: 5px;
    margin: auto;
    max-width: 50%;
    border: 1px solid darkgray;
    padding: 10px;
  }

  &.fade-enter{
    opacity: 0;
  }
  &.fade-enter-active{
    opacity: 1;
    transition: .5s ease-in all;
  }
  
  &.fade-leave{
    opacity: 1;
  }
  
  &.fade-leave-active{
    opacity: 0;
    transition: .5s ease-in all;
  }
}